<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>度假屋，民宿，租房-Viaticome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/responsive.css">
</head>
<style>
    input[type=date]::-webkit-inner-spin-button { visibility: hidden; }
    input[type=date]::-webkit-datetime-edit { padding: 1px; background: url(../selection.gif); }
    input[type=date]::-webkit-datetime-edit-fields-wrapper { background-color: white; }
    input[type=date]::-webkit-datetime-edit-text { color: forestgreen; padding: 0 .3em; }
    input[type=date]::-webkit-datetime-edit-year-field {color: forestgreen;}
    input[type=date]::-webkit-datetime-edit-month-field {color: forestgreen;}
    input[type=date]::-webkit-datetime-edit-day-field {color: forestgreen;}
    input[type=date]::-webkit-calendar-picker-indicator {
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: inset 0 1px #fff, 0 1px #eee;
        background-color: #eee;
        background-image: url(../static/images/icons/calendar-default.png);
        color: transparent;
    }
    input[type=date]::-webkit-clear-button {}

    input[type=month]::-webkit-inner-spin-button { visibility: hidden; }
    input[type=month]::-webkit-datetime-edit { padding: 1px; background: url(../selection.gif); }
    input[type=month]::-webkit-datetime-edit-fields-wrapper { background-color: white; }
    input[type=month]::-webkit-datetime-edit-text { color: forestgreen; padding: 0; }
    input[type=month]::-webkit-datetime-edit-year-field {color: forestgreen;}
    input[type=month]::-webkit-datetime-edit-month-field {color: forestgreen;}
    input[type=month]::-webkit-datetime-edit-day-field {color: forestgreen;}
    input[type=month]::-webkit-calendar-picker-indicator {
        border: 1px solid #ccc;
        border-radius: 2px;
        box-shadow: inset 0 1px #fff, 0 1px #eee;
        background-color: #eee;
        background-image: url(../static/images/icons/calendar-default.png);
        color: transparent;
    }
    input[type=month]::-webkit-clear-button {}
</style>
<body {{bar_show}}>
<!--  登录和注册的弹窗-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="position:absolute; margin-top: 20%; left: 50%; width: 900px; height: 550px; margin-left: -450px;">
            <div class="cont">
                <div class="form sign-in">
                    <form class="form-planner form-horizontal" method="post" action="" name="signinform">
                        {% csrf_token %}
                        <div class="row" style="margin-top: 10%;">
                            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="邮箱" name="email">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="密码" name="password">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-top: 0%;">
                            <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                <input class="btn btn-default" style="width: 100%;" value="登录" id="signinbutton">
                            </div>
                        </div>
                        <script type="text/javascript" src="../static/js/jquery.min.js"></script>
                        <script>
                            $(document).ready(function () {
                                $("#signinbutton").click(function () {
                                    var curusername = document.signinform.email.value;
                                    var curpassword = document.signinform.password.value;
                                    $.get("/api/login", {
                                            'username': curusername,
                                            'password': curpassword
                                        },
                                        function (ret) {
                                            if (ret == "ok") {
                                                window.location.href = "/login_success?username=" + curusername + "&&password=" + curpassword;
                                            } else {
                                                document.getElementById("signinalert").style.display = "block";
                                                document.getElementById("signinalert").innerHTML = ret;
                                            }
                                        }
                                    );
                                });
                            });
                        </script>
                    </form>
                    <div class="alert alert-danger" id="signinalert" style="margin-top: 5%; display: none;">
                    </div>
                </div>
                <div class="sub-cont">
                    <div class="img">
                        <div class="img__text m--up">
                            <h2>第一次访问？</h2>
                        </div>
                        <div class="img__text m--in">
                            <h2>已经是成员了？</h2>
                        </div>
                        <div class="img__btn">
                            <span class="m--up">注册</span>
                            <span class="m--in">登录</span>
                        </div>
                    </div>
                    <div class="form sign-up">
                        <form class="form-planner form-horizontal" method="post" action="" name="signupform">
                            {% csrf_token %}
                            <div class="row" style="margin-top: 10%;">
                                <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="邮箱" name="regemail">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                    <div class="form-group">
                                        <input type="password" class="form-control" placeholder="密码" name="regpassword">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 0%;">
                                <div class="col-lg-6 offset-lg-3 col-md-6 offset-md-3 col-sm-6 offset-md-3 col-xs-6 offset-xs-3">
                                    <input class="btn btn-default" style="width: 100%;" value="注册" id="signupbutton">
                                </div>
                            </div>
                            <script type="text/javascript" src="../static/js/jquery.min.js"></script>
                            <script>
                                $(document).ready(function () {
                                    $("#signupbutton").click(function () {
                                        var curusername = document.signupform.regemail.value;
                                        var curpassword = document.signupform.regpassword.value;
                                        $.get("/api/register", {
                                                'username': curusername,
                                                'password': curpassword
                                            },
                                            function (ret) {
                                                if (ret == "ok") {
                                                    window.location.href = "/register_success?username=" + curusername + "&&password=" + curpassword;
                                                } else {
                                                    document.getElementById("signupalert").style.display = "block";
                                                    document.getElementById("signupalert").innerHTML = ret;
                                                }
                                            }
                                        );
                                    });
                                });
                            </script>
                        </form>
                        <div class="alert alert-danger" id="signupalert" style="margin-top: 5%; display: none;">
                        </div>
                    </div>
                </div>
            </div>
            <!--</div>-->
            <script src="../static/js/index.js"></script>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>

<!-- main wrapper -->
<div class="wrapper">
    <!-- header -->
    <header class="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                        <div class="header-location"><i class="fa fa-home"></i> <a href="#">北京五道口</a></div>
                        <div class="header-email"><i class="fa fa-envelope-o"></i> <a href="mailto:956xxq@email.com">956xxq@email.com</a>
                        </div>
                        <div class="header-phone"><i class="fa fa-phone"></i> <a href="#">8 (043) 567 - 89 - 30</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <div class="nav navbar-nav navbar-right">
                            {% if login %}
                            <li><a href="#">欢迎您：{{ username }}</a></li>
                            <li><a href="logout">登出</a></li>
                            {% else %}
                            <li><a href="#" data-toggle="modal" data-target="#myModal">注册/登录</a></li>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <nav class="navbar navbar-universal navbar-custom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="logo"><a href="../templates/index.html" class="navbar-brand page-scroll"><img
                                    src="../static/images/logo/logo.png" alt="logo"></a></div>
                        </div>
                        <div class="col-lg-9">
                            <div class="navbar-header">
                                <button type="button" data-toggle="collapse" data-target=".navbar-main-collapse"
                                        class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span
                                        class="icon-bar"></span><span class="icon-bar"></span><span
                                        class="icon-bar"></span></button>
                            </div>
                            <div class="collapse navbar-collapse navbar-main-collapse">
                                <ul class="nav navbar-nav navbar-right">
                                    <li><a href="../templates/index.html">主页</a></li>
                                    <li><a href="../templates/short-term.html">房间一览</a></li>
                                    <li><a href="../templates/user-info.html">个人空间</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- /header -->
    <!-- parallax -->
    <section class="bg-parallax parallax-window">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <div class="parallax-text">
                        <h2 class="parallax_t __white">Viaticome</h2>
                        <h2 class="parallax_t __green">available from 2019.08.24</h2>
                        <p>一家人享受团圆佳节吧！</p>
                    </div>
                </div>
                <!-- planner-->
                <!--            入住和退房的placeholder做成当天和明天-->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 planner">
                    <a name="login_bar"></a>
                    <div class="planner-block">
                        <form class="form-planner form-horizontal" method="post" action="submit">
                            {%csrf_token%}
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>入住日期</label>
                                        <input class="form-control __plannerInput" id="datetimepicker1" type="date"
                                               placeholder="24_08_2019">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                    <div class="form-group">
                                        <label>退房日期</label>
                                        <input class="form-control __plannerInput" id="datetimepicker2" type="date"
                                               placeholder="25_08_2019">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9">
                                    <div class="form-group">
                                        <label>房间类型</label>
                                        <div class="theme-select">
                                            <select class="form-control __plannerSelect">
                                                <option value="">标准</option>
                                                <option value="">经济</option>
                                                <option value="">豪华</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                    <div class="form-group">
                                        <label>人数</label>
                                        <div class="theme-select">
                                            <select class="form-control __plannerSelect">
                                                <option value="">1</option>
                                                <option value="">2</option>
                                                <option value="">3</option>
                                                <option value="">4</option>
                                                <option value="">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-group">
                                            <label>价格区间</label>
                                            <div id="slider-range"></div>
                                            <div id="amount"><span id="amount1"></span><span id="amount2"></span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="planner-check-availability">
                                            <a href="wizzard-step1.html" class="btn btn-default">搜索房源</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /planner-->
            </div>
        </div>
    </section>
    <!-- /parallax -->
    <!-- for short term -->
    <section class="best-room">
        <div class="container">
            <div class="title-main">
                <h2 class="h2">精选房源<span class="title-secondary">旅游出行，周末度假，为您精选</span></h2>
            </div>
            <div class="best-room-carousel">
                <ul class="row best-room_ul">
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                        <div class="best-room_img">
                            <a href="#"><img src="{{short_house_img1}}" alt=""></a>
                            <div class="best-room_overlay">
                                <div class="overlay_icn"><a href="{{short_house_href1}}"></a></div>
                            </div>
                        </div>
                        <div class="best-room-info">
                            <div class="best-room_t"><a href="{{short_house_href1}}">{{ short_house_name1 }}</a></div>
                            <div class="best-room_desc">{{ short_house_description1 }}
                            </div>
                            <div class="best-room_price">
                                <span>￥{{ short_house_price1 }}</span> 每晚
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                        <div class="best-room_img">
                            <a href="#"><img src="{{short_house_img2}}" alt=""></a>
                            <div class="best-room_overlay">
                                <div class="overlay_icn"><a href="{{short_house_href2}}"></a></div>
                            </div>
                        </div>
                        <div class="best-room-info">
                            <div class="best-room_t"><a href="{{short_house_href2}}">{{ short_house_name2 }}</a></div>
                            <div class="best-room_desc">{{ short_house_description2 }}
                            </div>
                            <div class="best-room_price">
                                <span>￥{{ short_house_price2 }}</span> 每晚
                            </div>
                        </div>
                    </li>
                    <li class="col-lg-4 col-md-4 col-sm-6 col-xs-12 best-room_li">
                        <div class="best-room_img">
                            <a href="#"><img src="{{short_house_img3}}" alt=""></a>
                            <div class="best-room_overlay">
                                <div class="overlay_icn"><a href="{{short_house_href3}}"></a></div>
                            </div>
                        </div>
                        <div class="best-room-info">
                            <div class="best-room_t"><a href="{{short_house_href3}}">{{ short_house_name3 }}</a></div>
                            <div class="best-room_desc">{{ short_house_description3 }}
                            </div>
                            <div class="best-room_price">
                                <span>￥{{ short_house_price3 }}</span> 每晚
                            </div>
                        </div>
                    </li>
                </ul>

            </div>
        </div>
    </section>
    <!-- for short term -->


    <!-- lux banner parallax -->
    <section class="banner bg-parallax2">
        <div class="overlay"></div>
        <div class="banner-parallax">
            <div class="container">
                <div class="text-center">
                    <div class="banner-parallax_raiting">
                        <a href="#"><span class="star"></span></a>
                        <a href="#"><span class="star"></span></a>
                        <a href="#"><span class="star"></span></a>
                        <a href="#"><span class="star"></span></a>
                        <a href="#"><span class="star"></span></a>
                    </div>
                    <h2 class="banner-parallax_t">{{ shown_room }}</h2>
                    <div class="banner-parallax_price"><span>￥{{ shown_room_price }}</span> 每晚（仅限本周）</div>
                    <a href="{{shown_room_detail.html}}" class="btn btn-default">现在预订</a>
                </div>
            </div>
        </div>
    </section>
    <!-- /lux banner parallax -->


    <!-- /main wrapper -->
    <!-- footer -->
    <footer class="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-top_logo"><a href="{{index.html}}"><img src="../static/images/logo/logo.png"
                                                                                   alt="Footer logo"></a></div>
                        <div class="footer-top_txt">
                            <p>度假屋，民宿，长期租房，Viaticome为您精心挑选。</p>
                            <p>为所有房东和房客建立一个具有包容性的平台是我们最大的目标，我们一直在努力做得更好。</p>
                        </div>
                        <div class="footer-top_address">
                            <div><i class="fa fa-phone"></i> Phone: <span>8 (043) 567 - 89 - 30</span></div>
                            <div><i class="fa fa-envelope-o"></i> E-mail: <span><a href="mailto:support@email.com">support@email.com</a></span>
                            </div>
                            <div><i class="fa fa-home"></i> Location: <span>455 Martinson, Los Angeles</span></div>
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-12 marg-sm-50 col-xs-12">
                        <div class="footer-top_contact_form">
                            <div class="contact_form_t">有任何意见与建议，请联系我们：</div>
                            <form action="submit" method="POST" class="row form-horizontal form-wizzard">
                                {%csrf_token%}
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="text" name="name" class="form-control" placeholder="您的姓/名">
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    <input type="email" name="email" class="form-control" placeholder="您的邮箱">
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <textarea rows="6" name="message" class="form-control"
                                              placeholder="您的意见与建议"></textarea>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                    <input type="submit" value="Send message" class="btn btn-default">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-bottom_copy">Copyright &copy; 2019.Company name All rights reserved.</div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="footer-bottom_links">
                            <a class="active" href="{{index.html}}">Home</a>
                            <a href="shortterm">Rooms</a>
                            <a href="aboutus">About us</a>
                            <a href="contacts">Contacts</a>
                            <a href="#">Purchase</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
<!-- /footer -->
<!-- Scripts -->
<script type="text/javascript" src="../static/js/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/tether.min.js"></script>
<script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.smartmenus.js"></script>
<script type="text/javascript" src="../static/js/jquery.parallax.min.js"></script>
<script type="text/javascript" src="../static/js/jquery.shuffle.min.js"></script>
<script type="text/javascript" src="../static/js/owl.carousel.min.js"></script>
<!---<script type="text/javascript" src="http://ditu.google.cn/maps/api/js"></script>--->
<script type="text/javascript" src="../static/js/map.js"></script>
<script type="text/javascript" src="../static/js/main.js"></script>
<!-- /Scripts -->
</body>
</html>
